doctype html
meta(robots='noindex')
meta(charset='utf-8')
meta(name='viewport' content='width=device-width,initial-scale=1.0')
title ブランクページ

body(style='margin: 0;')
  main(style='display: flex; flex-flow: column nowrap; justify-content: center; align-items: center; height: 100vh; width: 100vw; color:#333; ')
    h1 ブランクページ
    p これはブランクページです。index.htmlを上書きするか、それに準ずるファイルを設置し、index.htmlを削除してください。
    p(style='margin: 0;') robots=noindex指定をしているので、この状態のこのアドレスは検索対象としてヒットされません。
